<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <div *ngIf="showLoginButton">
    <a href="http://localhost:3000/api/login">
      <button>Login</button>
    </a>
  </div>

  <div *ngIf="files.length > 0">
    <ul>Your Google sheets files:
      <li *ngFor="let file of files">{{file.name}} (id: {{file.id}})</li>
    </ul>

    <div>
      Choose your file (type the id):
      <input type="text" [(ngModel)]="inputText" placeholder="file id here" />
      <button (click)="getSheets()">Go</button>
    </div>

    <div *ngIf="sheets.length > 0">
      <div>Your data in the file:</div>
      {{sheets}}
    </div>
  </div>

</div>